BOSS/Debug/*
BOSS/.cdtbuild
BOSS/.ccsproject
BOSS/.cdtbuild_initial
BOSS/.cdtproject
BOSS/.launches/*
BOSS/.settings/*
BOSS/.project
BOSS/.cproject

BOSS-Task/Debug/*
BOSS-Task/.cdtbuild
BOSS-Task/.ccsproject
BOSS-Task/.cdtbuild_initial
BOSS-Task/.cdtproject
BOSS-Task/.launches/*
BOSS-Task/.settings/*
BOSS-Task/.project
BOSS-Task/.cproject

BOSS-Common/Debug/*	
BOSS-Common/.*

BOSS/API
BOSS/Lib
BOSS/Messaging
BOSS-Task/API
BOSS-Task/Lib
BOSS-Task/Messaging

.metadata/*